<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.HobbyMapper">
    <resultMap id="hobbyMap" type="hobby" autoMapping="true">
        <id property="hobbyId" column="id"/>
        <result property="hobbyUserId" column="user_id"/>
        <result property="hobbyCode" column="code"/>
        <result property="hobbyName" column="name"/>
    </resultMap>

    <select id="selectByUserId" resultMap="hobbyMap">
    select * from hobby where user_id = #{userId}
    </select>

    <insert id="batchInsert" parameterType="list">
        insert into hobby(user_id,code,name) values
        <foreach collection="hobbies" item="item" separator=",">
            (#{item.hobbyUserId},#{item.hobbyCode},#{item.hobbyName})
        </foreach>
    </insert>

    <resultMap id="hobbyVo2" type="com.entity.HobbyVo2">
        <id property="userId" column="user_id"/>
        <result property="field" column="field"/>
        <collection property="hobbyCodes" ofType="string">
          <result property="code" column="code"/>
        </collection>
    </resultMap>

    <select id="selectHobbyVo2" resultMap="hobbyVo2">
    select * from hobby
    </select>

    <cache/>

</mapper>