<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.HobbyMapper">
    <resultMap id="hobbyMap" type="hobby" autoMapping="true">
        <id property="hobbyId" column="id"/>
        <result property="hobbyUserId" column="user_id"/>
        <result property="hobbyCode" column="code"/>
        <result property="hobbyName" column="name"/>
    </resultMap>

    <select id="selectByUserId" resultMap="hobbyMap">
    select * from hobby where user_id = #{userId}
    </select>
    <cache/>

</mapper>