<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <resultMap id="baseMap" type="user">
        <!--<constructor >
            <idArg column="id" javaType="long"/>
        </constructor>
        <id property="userId" column="id"/>-->
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="pwd" column="pwd"/>
        <result property="country" column="country"/>
    </resultMap>

    <resultMap id="mapExt1" type="user">
        <result property="userId" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="pwd" column="pwd"/>
        <result property="country" column="country"/>
       <association property="address" javaType="address" autoMapping="true">
           <id property="addressId" column="id"/>
           <result property="addressUserId" column="user_id"/>
       </association>
        <collection property="hobbys" ofType="hobby" autoMapping="false">
            <result property="hobbyId" column="hid"/>
            <result property="hobbyUserId" column="user_id"/>
            <result property="hobbyCode" column="hcode"/>
            <result property="hobbyName" column="hname"/>
        </collection>
        <collection property="hobbyNames" ofType="string">
            <result property="hobbyName" column="hname"/>
        </collection>
    </resultMap>

    <resultMap id="mapExt2" type="user" extends="baseMap">
        <association property="address" javaType="address" select="com.mapper.AddressMapper.selectByUserIdAndCountry" column="{userId=id,country=country}">
        </association>
        <collection property="hobbys" ofType="hobby" resultMap="userhobbyMap">
        </collection>
        <collection property="hobbyNames" ofType="string">
            <result property="asdas" column="hobbyName"/>
        </collection>
    </resultMap>

    <resultMap id="userhobbyMap" type="hobby">
        <id property="hobbyId" column="hobbyId"/>
        <result property="hobbyUserId" column="hobbyUserId"/>
        <result property="hobbyCode" column="hobbyCode"/>
        <result property="hobbyName" column="hobbyName"/>
    </resultMap>

    <select id="getById" resultMap="baseMap">
    select * from user where id = #{id}
    </select>

    <insert id="save">
        <selectKey keyProperty="userId" order="AFTER" resultType="long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into user(code,name) values (#{code},#{name})
    </insert>

    <insert id="multipleSave" useGeneratedKeys="true" keyProperty="userId">


       insert into user(code,name) values
       <foreach collection="list" item="item" separator=",">
           (#{item.code},#{item.name})
       </foreach>
    </insert>

    <select id="findByName" resultMap="mapExt1">
        select t.*,a.*,h.id hid ,h.user_id user_id ,h.code hcode ,h.name hname from user t left join hobby h on t.id=h.user_id
         left join address a on t.id=a.user_id
         where t.name like #{name}
    </select>

    <select id="findAll" resultMap="mapExt2">
        select t.*,h.id hobbyId,h.user_id hobbyUserId,h.code hobbyCode,h.name hobbyName from user t left join hobby h on t.id=h.user_id
    </select>

    <resultMap id="userVo" type="com.entity.UserVo" autoMapping="true">
        <id property="userId" column="userId"/>
        <id property="field" column="field"/>
        <collection property="hobbys" ofType="com.entity.HobbyVo" autoMapping="true">
            <!--<id property="hobbyId" column="hobbyId"/>-->
        </collection>
    </resultMap>

    <select id="findAll2" resultMap="userVo">
SELECT temp.id userId,temp.field,temp.code,temp.name,temp.country,temp.pwd,h.id hobbyId,h.user_id hUserId,h.code hobbyCode,h.name hobbyName FROM (
SELECT t.*,h.field
FROM USER t
left JOIN hobby h ON t.id=h.user_id
GROUP BY t.id,h.field) temp
left JOIN hobby h ON temp.id=h.user_id AND temp.field=h.field
    </select>

</mapper>